
<mat-toolbar color="primary">
  
  <img
    alt="Angular Logo"
    style="border-color: #2C3151; width:15%; height:99%;"
    src="/assets/imgs/rlogo.png"
  />
  <div class="spacer"></div>  
  <div class="navbBar">
    <a class="urls" href="#home">Home</a> |  
    <a class="urls" href="#projects">Projects</a> | 
    <a class="urls" href="#contact">Contact Us</a> |
    <a class="urls" (click)="openDialog(false)" *ngIf="!isUserLoggedIn">Login</a>
    <span *ngIf="isUserLoggedIn" (click)="openDialog(true)"> Welcome {{ userDetails.firstname }}! </span>
  </div>

</mat-toolbar>
<!-- <mat-toolbar color="warn">Second Toolbar</mat-toolbar> -->
<!-- <div class="toolbar" role="banner" id="home">
  <img
    alt="Angular Logo"
    style="border-color: #3F51B5; width:15%; height:99%;"
    src="/assets/imgs/rlogo.png"
  />
  <div class="spacer"></div>  
  <div class="navbBar">
    <a class="urls" href="#home">Home</a> |  
    <a class="urls" href="#projects">Projects</a> | 
    <a class="urls" href="#contact">Contact Us</a>
  </div>
</div> -->

<!-- <div class="content" role="main">
  <div class="card-container">
  </div>
</div> -->

<router-outlet></router-outlet>